main{
    max-width: var(--widthL);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>img{
    max-width: calc(var(--widthL) - 100px);
    height: 100px;
}

.right{ 
margin-left: 80%;
}

.left{
    margin-right: 100px;
}

.arrow{
    scale:2.5;
    color: rgb(61, 61, 61);

}

.add{
    width: 200px;
    font-size: large;
    border-radius: 15px;
    background-color: rgb(206, 211, 208);
    margin: 20px;
    padding: 8px;

}

.containerforintro{
    margin: 30px 0px;
}


/*  main SlideShow  */

      
main {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

main .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: rgba(0,0,0,0.1);
}

main .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

main .active, main .dot:hover {
  background-color: #717171;
}

main .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  main .prev, main .next, main .text {font-size: 11px}
}