body>main {
    justify-content: center;
    /* width: 75%; */
    font-size: 25px;
}

.login,
.forgot,
.register,
.reset {
    background-color: black;
    font-size: large;
    color: white;
    font-weight: bold;
    width: 15%;
}
.resetBtn {
    background-color: black;
    font-size: large;
    color: white;
    font-weight: bold;
    width: 60px;
}

.confirm {
    background-color: black;
    font-size: large;
    color: white;
    font-weight: bold;
    width: 30%;
}


.forgot_block {
    width: 450px;
}


.containerforaccount {

    flex-wrap: wrap-reverse;
    width: 950px;
    justify-items: center;
    padding: 20px;

}

.register_appear h2 {
    text-align: center;
    font-size: 30px;
}

.register_appear p {
    font-size: 20px;
}

.accountblock {
    border-radius: 25px;
    border: 3px gray solid;
    padding: 25px 58px;
    line-height: 1.85;
    font-size: 20px;
    width: 50%;
    margin: 10px auto;

}

.checkbox {
    font-size: 20px;
}

main>a {
    font-size: 20px;
}


.otherblock {
    border-radius: 25px;
    padding: 5px;
    line-height: 1.85;
    font-size: 20px;
    width: 50%;
    margin: 5px auto;
    text-align: center;
}